<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace：该XML文件对应哪个接口 -->
<mapper namespace="cn.tedu.store.mapper.DistrictMapper">

     <!-- 根据父级代号获取全国所有省市区 -->
     <select id="findByParent" resultType="cn.tedu.store.entity.District">
        
          SELECT
              id,parent,
               code,name
          FROM 
              t_dict_district
          WHERE
                parent=#{parent}
          ORDER BY
              id 
     </select>

</mapper>










